@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');

#sideNav {
    background: #0B2545;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
    font-family: "Lato";
}

#sideNav h1 {
    font-family: "Crete Round";
    font-size: 30px;
    background: #D17A22;
    color: #EEF4ED;
    padding-bottom: 2px;
    padding-top: 2px;
}

#sideNav h3 {
    font-size: 22px;
    color: #EEF4ED;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
}

#mainContent {
    background: #EEF4ED;
    padding-left: 22em;
    font-family: "Lato";
}

h2 {
    color: #EEF4ED;
    background: #D17A22;
    width: 310px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.resume-head {
    padding-top: 20px;
    padding-bottom: 20px;
}

.resume-head h1 {
    color:#EEF4ED;
    background: #D17A22;
    padding-left: 5px;
    font-size: 70px;
    font-family: "Raleway";
    width: 630px;
}

.narrow-width {
    max-width: 30em;
}

img {
    padding-bottom: 20px;
}

a {
    color:#EEF4ED;
    background: #D17A22;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}